@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School ақпараттық-білім беру порталына қош келдіңіз!</h1>
    <p class="lead">Мектептің ақпараттық-білім беру порталы сізге және сіздің жақындарыңызға жаңа мүмкіндіктер ашады...</p>
    <p><a href="http://localhost:58766/Home/Index" class="btn btn-primary btn-lg">Толығырақ &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Мұғалімдерге</h2>
        <p>
           Оқу барысын автоматтандыру технологияларына, онлайн-білім құралдарына және ата-аналармен хабар алмасудың заманауи әдістеріне қол жеткізіңіз.
            -Мектеп парақшасы
            -Кесте және сабақтар
            -Электрондық журнал
            -Үй тапсырмаларын басқару
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/MugalimBB.cshtml">Толығырақ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ата-аналарға</h2>
        <p>Оқу үшін, сыныптан тыс жұмыс үшін, зияткерлік жеңістер және өз ойын білдіру үшін барлық қажетті заттар әрдайым қол астында.
        -Оқушы күнделігі
        -Үй тапсырмалары
        -Оқу туралы хабарландырулар
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Ata_anaBB.cshtml">Толығырақ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Оқушыларға</h2>
        <p>School порталының көмегімен балаңызға жақынырақ болыңыз! Өз балаңыздың жетістіктері мен қызығушылықтарын бақылаңыз, оқу барысына белменді қатысыңыз!
        -Күнделік
        -Білім беру ресурстары
        -Портфолио
        -Тілдесу
        -Байқаулар бөлімінде қолжетімді
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/OkushyBB.cshtml">Толығырақ &raquo;</a></p>
        </div>
</div>

<img src="~/fonts/11.PNG" />